<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>Товары</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--===============================================================================================-->
   <link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
   <style>
      body {
         font-family: sans-serif;
      }

      input {
         width: 96%;
         margin: 2px;
         font-size: 11pt;

      }

      select {
         width: 97%;
         margin: 2px;
         font-size: 11pt;
      }

      .w30 {
         width: 30.3%;
      }

      .main-btn-form-exit {
         font-size: 15px;
         width: 100px;
         background-color: #caccd1;
         color: white;
         height: 30px;
         text-decoration: none;
         border-radius: 9px;
         border: none
      }

      .main-btn {
         font-size: 20px;
         width: 120px;
         background-color: #179E98;
         height: 40px;
         text-decoration: none;
         border-radius: 9px;
      }

      .main-btn2 {
         font-size: 15px;
         width: 100px;
         background-color: #179E98;
         height: 30px;
         text-decoration: none;
         border-radius: 9px;
      }

      .main-btn-form {
         font-size: 15px;
         width: 100px;
         background-color: #179E98;
         color: white;
         height: 30px;
         text-decoration: none;
         border-radius: 9px;
         border: none
      }


      #customers {
         font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
         border-collapse: collapse;
         width: 100%;
      }

      #customers td, #customers th {
         border: 1px solid #ddd;
         padding: 3px;
         font-size: 13px;
      }

      #customers tr:nth-child(even) {
         background-color: #f2f2f2;
      }

      #customers tr:hover {
         background-color: #ddd;
      }

      #customers th {
         padding-top: 10px;
         padding-bottom: 10px;
         text-align: center;
         background-color: #727b6b;
         color: white;
         font-size: 12px;

      }

      input::-webkit-calendar-picker-indicator {
         opacity: 100;
         color: #727b6b;
      }

   </style>

</head>
<body>


<table border="0" cellpadding="2" cellspacing="2" align="center" style="width:100%; font-size: 11px">
   <tr>
      <td>
         <div style="width: 50%">

            <form method="get" action="/main">
               <button type="submit" class="main-btn-form">Главная
               </button>
            </form>
         </div>
      </td>
      <td style="width: 50%">
         <div>
            <form action="/logout" method="post">
               <p style=" text-align: right;">
                  <input name="_csrf" type="hidden" value="{{_csrf.token}}"/>
                  <button type="submit" class="main-btn-form-exit">Выйти
                  </button>
               </p>
            </form>
         </div>
      </td>
   </tr>

</table>


<div style="margin-top: 5px"></div>
<div style="text-align:center; ">

   <table id="customers" align="center" border="1" cellpadding="2" cellspacing="0"
          style="width:100%;     border-color: lightgray; font-family: serif;
           border: 1px solid black;
           border-collapse: collapse">
      <tbody>
      <tr class="header-table">
         <th>Номер документа</th>
         <th>ProductId</th>
         <th>Дата</th>
         <th>Пользователь</th>
         <th>Склад</th>
         <th title="М1:ГРИН">М1</th>
         <th title="М2:СОВЕТСКАЯ">М2</th>
         <th title="М3:ПРИВОКЗАЛЬНАЯ">М3</th>
         <th title="М4:ЮЖНЫЙ">М4</th>
         <th title="М5:КИРОВА">М5</th>
         <th title="М6:КАЛИНОВСКОГО">М6</th>
         <th title="М7:СОВЕСТКАЯ(2)">М7</th>
      </tr>
      {{#distributionCurrentDocs}}



         <tr>

            <td>{{docNumber}}</td>
            <td>{{product_id}}</td>
            <td>{{dateDistribTxt}}</td>
            <td>{{username}}</td>
            <td>{{countSklad}}</td>
            <td>{{countM1}}</td>
            <td>{{countM2}}</td>
            <td>{{countM3}}</td>
            <td>{{countM4}}</td>
            <td>{{countM5}}</td>
            <td>{{countM6}}</td>
            <td>{{countM7}}</td>




         </tr>

      {{/distributionCurrentDocs}}
      </tbody>
   </table>

   <p>Все записи</p>

   <table id="customers" align="center" border="1" cellpadding="2" cellspacing="0"
          style="width:100%;     border-color: lightgray; font-family: serif;
           border: 1px solid black;
           border-collapse: collapse">
      <tbody>
      <tr class="header-table">
         <th>Номер документа</th>
         <th>ProductId</th>
         <th>Дата</th>
         <th>Пользователь</th>
         <th>Склад</th>
         <th title="М1:ГРИН">М1</th>
         <th title="М2:СОВЕТСКАЯ">М2</th>
         <th title="М3:ПРИВОКЗАЛЬНАЯ">М3</th>
         <th title="М4:ЮЖНЫЙ">М4</th>
         <th title="М5:КИРОВА">М5</th>
         <th title="М6:КАЛИНОВСКОГО">М6</th>
         <th title="М7:СОВЕСТКАЯ(2)">М7</th>
        </tr>
      {{#distributionDocs}}



          <tr>

               <td>{{docNumber}}</td>
               <td>{{product_id}}</td>
               <td>{{dateDistribTxt}}</td>
               <td>{{username}}</td>
               <td>{{countSklad}}</td>
               <td>{{countM1}}</td>
               <td>{{countM2}}</td>
               <td>{{countM3}}</td>
               <td>{{countM4}}</td>
               <td>{{countM5}}</td>
               <td>{{countM6}}</td>
               <td>{{countM7}}</td>




            </tr>

      {{/distributionDocs}}
      </tbody>
   </table>

</div>



</body>
</html>